*{
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}
a{
    display: block;
    border: black solid 4px;
    font-size: 24px;
    text-align: center;
    padding: 8px;
}
h1{
    background-color: rgb(39, 39, 39);
    padding: 8px;
    color: white;
    text-align: center;
}
img{
    display: block;
    height: auto;
    width: 700px;
    margin: 0 auto;
}
ol, ul, p{
    border: black solid 3px;
}
p{
    padding: 16px;
}
ol, ul{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}
ol li{
    margin: 24px 0px 24px 0px;
}
